<nav class="sidebar">
  <center><a href="/"><img class="logo_img" src="/img/GCIT_Logo.png"></a></center>


  <div class="menu-content">
    <ul class="menu-items">
      <!-- <div class="menu-title">NAVIGATION BAR</div> -->

      <li class="item">
        <a href="/admin/dashboard">User Details</a>
      </li>

      <!-- <li class="item">
        <a href="/admin/pastquestion">Past Questions</a>
      </li> -->

      <li class="item">
        <a href="/admin/result">Result</a>
      </li>

      <li class="item">
        <div class="submenu-item">
          <span>Question Bank</span>
          <i class="fa-solid fa-chevron-right"></i>
        </div>

        <ul class="menu-items submenu">
          <div class="menu-title">
            <i class="fa-solid fa-chevron-left"></i>
            Question Bank
          </div>
          <li class="item">
            <a href="/admin/addquestion">Add Questions</a>
          </li>
          <li class="item">
            <a href="/admin/displayquestion">Display Questions</a>
          </li>
          <li class="item">
            <a href="/admin/createquiz">Create Quiz</a>
          </li>
          <li class="item">
            <a href="/admin/displayquiz">Display Quiz</a>
          </li>
        </ul>
      </li>
      <li class="item">
        <a href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar">
  <i class="fa-solid fa-bars" id="sidebar-close"></i>
  <h5><%= title %></h5>
</nav>
