<nav class="sidebar">
  <center><a href="/"><img class="logo_img" src="/img/GCIT_Logo.png"></a></center>


  <div class="menu-content">
    <ul class="menu-items">
      <!-- <div class="menu-title">NAVIGATION BAR</div> -->

      <li class="item">
        <a href="/users/dashboard">Past Questions</a>
      </li>

      <li class="item">
        <a href="/users/starton">Attempt Quiz</a>
      </li>

      <li class="item">
        <a href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar">
  <i class="fa-solid fa-bars" id="sidebar-close"></i>
  <h5><%= title %></h5>
</nav>
