*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.logo_img{
  width: 30%;
}
.card-container {
  height: 600px;
  width: 500px;
  background-color: #F9F6F6;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 40px rgba(118, 117, 126, 0.6);
  /* width: 100%; */
  /* max-width: 1200px; Set a max-width if needed */
  margin: 0 auto;
}

/* Top part of the card with a different background color */
.top-part {
  background-color: #395144;/* Different color for the top part */
  padding: 20px; /* Add padding as needed */
}

/* Rest of the card content */
.form-content {
  padding: 20px; /* Add padding as needed */
}

.background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}

.shape:first-child {
  
  left: -80px;
  top: -80px;
}

.shape:last-child {
 
  right: -30px;
  bottom: -80px;
}



form * {
  font-family: 'Poppins', sans-serif;
  color: #8F8F8F;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: #D9D9D9;
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

::placeholder {
  color: #848484;
}

button {
  margin-top: 50px;
  width: 100%;
  background-color:#F86A03;
  color: white;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.social {
  margin-top: 5px;
  margin-left: 290px;
  display: flex;
}

.social a{
  text-decoration: none;
}